<header>
    <nav id="navbar">
        <a class="navItem" href="/"><h1>KicksHub</h1></a>
        <a class="navItem" href="/login"><p>Logg inn</p></a>
        <a class="navItem" href="/signup"><p>Registrer</p></a>
        <a class="navItem" href="/addProduct"><p>Legg til produkter (ADMIN)</p></a>
    </nav>
</header>