<%- include("./partials/head") %>
    <title>KicksHub</title>
</head>
<body>
    <main>
        <%- include("./partials/nav") %>
    
        <section>
            
        </section>

        <%- include("./partials/footer") %>
    </main>
</body>
</html>