<%- include("./partials/head") %>
    <!--extra scripts-->
    <title>Registrer</title>
</head>
<body>
    <main>
        <%- include("./partials/nav") %>

        <section>
            <form action="/signup" method="post">
                <label for="email">E-post: </label>
                <input type="text" id="email" name="email" required>
                <label for="password">Passord: </label>
                <input type="password" id="password" name="password" requried>
                <!-- <input type="submit" value="Logg inn"> -->
                <button>Submit</button>
            </form>
        </section>

        <%- include("./partials/footer") %>
    </main>
</body>
</html>