<%- include("./partials/head.ejs") %>
    <title>Veileder</title>
</head>
<body>
    <header>
        <%- include("./partials/nav.ejs") %>

        <section>
            <h1>Veileder</h1>
            <h2>Sett opp ssh-key autentisering</h2>
            <p>
                Logg inn med ssh, så skriv sudo su for rottilgang.
            </p>
            <img src="/img/tutorial1.png" alt="sudo su">
            <p>
                Deretter, skriv adduser og ønsket navn på bruker bak det.
            </p>
            <img src="/img/tutorial2.png" alt="adduser NAME-HERE">
            <p>
                Nå må du velge passord, gjør det og fyll ut all ekstra informasjon du vil inkludere, så skriv Y til slutt, det er viktig at det er stor Y og ikke liten y.
            </p>
            <img src="/img/tutorial3.png" alt="brukerregistrering, med passord osv">
            <p>
                Så må du cd-e inn i den nye brukeren, og opprette en ny mappe kalt ".ssh", deretter cd videre inn i den.
            </p>
            <img src="/img/tutorial4.png" alt="mkdir .ssh">
            <p>
                Nå, skriv sudo nano authorized_keys, og lim inn din ønskede ssh nøkkel. Etter det trykker du ctrl-o og enter, og deretter ctrl-x.
            </p>
            <img src="/img/tutorial5.png" alt="sudo nano authorized_keys">
            <p>
                Ok, med det ferdig er det nå lurt å legge brukere til SUDO gruppen, som gjør dem administratorer. Dette blir gjort med kommandoen sudo usermod -aG sudo USERNAME. Hvis du ikke inkluderer -aG vil brukeren bli fjernet fra alle andre grupper untatt sudo, som kan skape problemer.
            </p>
            <img src="/img/tutorial6.png" alt="sudo usermod -aG sudo pettershoes">
            
            
            <h2>Nettside med node på ubuntu</h2>
            <p>
                For å opprette en nettside med ubuntu er det først nødvendig å skrive sudo apt update (for å oppdatere apt til riktig versjon), og deretter sudo apt install nodejs.
            </p>
            <img src="/img/tutorial7.png" alt="sudo apt install nodejs">
            <p>
                Nå må du skrive kommandoen sudo apt install npm, for å kunne installere packages.
            </p>
            <p>
                Etter dette må du finne et sted å kjøre serveren, lag en mappe på et passende sted, og bruk en ftp løsning som f.eks FileZilla for å sende koden over til serveren.
            </p>
            <img class="bigpic" src="/img/tutorial8.png" alt="FileZilla oppsett">
            <p>
                Nå er det bare å skrive npm i for å installere packages, så kjøre applikasjonen din med f.eks node server.js.
            </p>
            <br><br><br>

            <h1>Brukermanual for Administratorer</h1>
            <h2>Legg til produkter</h2>
            <p>
                Rett og slett legg inn detaljene for ditt ønskede produkt, og trykk submit, dette vil opprette et nytt produkt i databasen.
            </p>
            <p>
                Ikke glem at artikkelnummer, modell og tittel må være unike,
            </p>
            <h2>Slett produkt</h2>
            <p>
                Her må du finne ut artikkelnummeret på produktet du ønsker å slette, dette kan du finne på hjemmesiden under ID på produktene.
            </p>
            <h2>Rediger produkt</h2>
            <p>
                For å redigere produkt må du først sette inn artikkelnummeret(ID-en) til produktet du ønsker å redigere, deretter er det bare å skrive i feltene du ønsker skal endres. De tomme feltene blir ikke endret på.
            </p>
        </section>

        <%- include("./partials/footer.ejs") %>
    </header>
</body>
</html>