body {
    padding: 135px 0 0 0;
}

#navbar {
    background-color: #FF8383;
    padding: 0, 20px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: baseline;
}

.navItem {
    margin: 0 15px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.3rem;
}



#prodSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.prodCard {
    display: flex;
    background-color: #ffc383;
    border: solid black 2px;
    margin: 30px;
    padding: 20px 0;
    flex-direction: column;
    text-align: center;
    text-decoration: underline;
}

.minorText {
    font-size: 1rem;
}

.productText {
    font-size: 1.3rem;
}